# ANDROID / GRADLE
.gradle/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# Local config
local.properties

# IDE FILES
.vscode
.idea/
*.iml

# macOS
.DS_Store


# PYTHON BACKEND
backend/.venv/
backend/__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# LOGS / TEMP
*.log
tmp/
temp/

# GENERATED / BINARIES
*.apk
*.aab

node_modules/
dist/
*.mkv
*.mp4

google-services.json